@charset "UTF-8";
html,
body {
    background-color: white;
    margin: 0px;
    max-width: 1920px;
    margin: 0 auto;
    word-break: keep-all;
}
body ul {
    list-style: none;
}
body a {
    text-decoration: none;
}