@charset "UTF-8";

#contents-area-second .section-logo img {
    max-width: 14em;
    width: 100%;
}

#contents-area-second .link-area {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4em;
    font-family: "NanumSquareR";
    font-size: 1em;
}

#contents-area-second .link-area .link {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contents-area-second .link-area .link .title {
    font-size: 1em;
}

#contents-area-second .link-area .link a {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-image: url(../Resources/Img/Website_button_pink.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 10em;
    min-height: 4em;
    padding: .5em 1.5em;
    color: #ffffff;
    font-family: "NanumSquareEB";
    font-size: 1em;
    gap: .2em;
    border-radius: 1em;
    margin-bottom: 1em;
    text-decoration: none;
}

#contents-area-second .link-area .link a .title {
    font-family: "NanumSquareR";
}

#contents-area-second .link-area .link img {
    max-width: 5em;
    width: 100%;
}

#contents-area-second .link-area .chars {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#contents-area-second .link-area .chars img {
    max-width: 4.5em;
    width: 100%;
}

#contents-area-second .link-area .charsV2 img {
    max-width: 21em;
    width: 100%;
}

