@charset "UTF-8";

#contents-area-first .section-logo img {
    max-width: 441px;
    width: 15em;
}

#contents-area-first .section-logo p {
    font-size: 1em;
}

@media screen and (max-width: 425px) {

    #contents-area-first br.responsive-break {
        display: none;
    }
}