@charset "UTF-8";

#contents-area-second .section-logo img {
    max-width: 396px;
    width: 14em;
}

#contents-area-second .link-area {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
    font-family: "NanumSquareR";
    font-size: 1em;
}

#contents-area-second .link-area .link {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contents-area-second .link-area .link .title {
    font-size: 1em;
}

#contents-area-second .link-area .link a {
    background-color: #ffd200;
    padding: .5em 1em;
    border-radius: 1em;
    color: #ffffff;
    font-size: 1em;
    margin-bottom: 1em;
}

#contents-area-second .link-area .link img {
    max-width: 150px;
    width: 5em;
}

#contents-area-second .link-area .chars {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#contents-area-second .link-area .chars img {
    max-width: 128px;
    width: 4.5em;

}

#contents-area-second .link-area .charsV2 img {
    max-width: 609px;
    width: 21em;
}

@media screen and (max-width: 425px) {

    #contents-area-first br.responsive-break {
        display: none;
    }
}