/* @import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css); */

@font-face {
    font-family: "NanumSquareB";
    src: url(../Resources/Font/NanumSquareB.woff) format("truetype");
  }
  @font-face {
    font-family: "NanumSquareEB";
    src: url(../Resources/Font/NanumSquareEB.woff) format("truetype");
  }
  @font-face {
    font-family: "NanumSquareR";
    src: url(../Resources/Font/NanumSquareR.woff) format("truetype");
  }
  @font-face {
    font-family: "NanumSquareL";
    src: url(../Resources/Font/NanumSquareL.woff) format("truetype");
  }