@charset "UTF-8";

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 1000;

    height: 3em;

    font-family: "NanumSquareB";

    padding: 1em;
}

.logo img {
    width: 5em;
    height: auto;
}

.menu-toggle {
    background: none;
    border: none;
    cursor: pointer;
}

.menu-toggle img {
    max-width: 48px;
    width: 4em;
    height: auto;
    opacity: 0.5;
    display: none;
}

.nav-body {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.125em;
    color: #6B6B6B;
}

.nav-body.active {
    display: flex;
}

.nav-menus,
.social-links,
.language-selector {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.nav-menus li,
.social-links li,
.language-selector li {
    display: flex;
}

.nav-menus li a,
.social-links li a,
.language-selector li a {
    color: inherit;
    padding: 0 .5em;
    font-size: .6em;
}

.nav-menus li a:hover,
.social-links li a:hover,
.language-selector li a:hover {
    color: #ffd200;
}

.social-links {
    background-color: #AFAFAF;
    border-radius: 100em;
    width: 4em;
    height: 1em;
    display: flex;
    justify-content: space-around;

    margin: 0 .5em;
    padding: 0em .3em;
}

.social-links a {
    display: flex;
}

.social-links img {
    max-width: 54px;
    width: 1em;
    height: auto;
}

.language-selector li {
    align-items: center;
}

.language-selector li:not(:last-child)::after {
    content: "|";
    font-size: .5em;
    margin: 0 .25em;
}

.nav-menus a.active,
.language-selector a.active {
    color: #1ec8c8;
}

@media screen and (max-width: 1024px) {
    nav {
        flex-direction: column;
    }

    .nav-header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-menus {
        flex-direction: column;
    }

    .menu-toggle img {
        display: flex;
    }

    .nav-body {
        width: 110%;
        background-color: #fff;

        display: none;
        flex-direction: column;
        padding: 1em 0;


        font-size: 1.5em;
    }

    .nav-menus li a,
    .social-links li a,
    .language-selector li a {
        padding: .5em 0em;
    }
}

@media screen and (max-width: 768px) {
    nav {
        height: 4em;
    }
}

@media screen and (max-width: 425px) {
    nav {
        height: 5em;
    }
}